.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--text-primary);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  transition: all 0.2s ease;
}

.toggleBtn:hover {
  background-color: var(--border-color);
}

.togglePlaceholder {
  width: 40px;
  height: 40px;
}
